<li id="<%= controller_name.singularize.downcase %>_1">
    <a href="#" class="<%= controller_name.singularize.downcase %>_edit_link">Edit</a>
    <a href="#" class="<%= controller_name.singularize.downcase %>_delete_link">Delete</a>
</li>